<div class="jumbotron">
    <h2 style="text-align: center">Dobrodošli na stranicu za održavanje resursa knjižnice</h2>
    <div class="row">
        <div class="col-md-4"><img src="../Slike/knjiznica.jpg" class="img-thumbnail" alt="more"></div>
        <div class="col-md-4"><img src="../Slike/knjiga.jpg" class="img-thumbnail" alt="plitvicka jezera"></div>
        <div class="col-md-4"><img src="../Slike/autor.jpg" class="img-thumbnail" alt="Slika 1"></div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top : 20px;">
            <p class="lead">Ovo je stranica koja služi za organizaciju svega vezanoga za vođenje jedne male knjižnice.</p>
            <p>Moguće je unijeti nove knjige, police, autorstva, nakladnike autore te ih međusobno povezivati.</p>
        </div>
        <div class="col-md-6" style="padding-top : 20px; text-align: center;">
            <p style="padding-top : 20px;">
                <a href="~/Home/LoginUsingGoogle"><img src="~/Slike/login-google.png" style="width:215px;height:41px" /></a>
            </p>
        </div>
    </div>
</div>